<h1>
  {{title}}
</h1>

<!-- <jce-users>Loading...</jce-users>

<jce-demo>Loading...</jce-demo>

<jce-posts>Loading...</jce-posts> -->

<nav>
  <a routerLink = "/users">Users</a> |
  <a routerLink = "/posts">Posts</a>
</nav>
<router-outlet></router-outlet>