<span *ngIf = "!isEdit"> Title: {{post.title}}, Body: {{post.body}} </span>
<span *ngIf = "isEdit"> 
    Title: <input type = "text" [(ngModel)] = "post.title" >
    Body: <input type = "text" [(ngModel)] = "post.body">
    <button (click) = "cancelEdit()" > Cancel </button>
</span>
<button (click) = "toggleEdit()" > {{editButtonText}} </button>
<button (click) = "sendDelete()" > Delete </button>