<!-- <div>
  <h3>Posts list:</h3>
  <jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul class="list-group posts">
    <li *ngFor = "let post of posts" 

        class="list-group-item">
       <jce-post [post] = "post"
       (deleteEvent) = "deletePost($event)" (updateEvent) = "updatePost($event)"></jce-post>
    </li>
  </ul>
</div> -->

<jce-post-form (postAddedEvent) = "addPost($event)"></jce-post-form>
<jce-spinner [visible] = "isLoading" ></jce-spinner>
<div>
  <ul class="list-group posts">
    <li *ngFor = "let post of posts" 
        [class.active]="currentPost == post" 
        (click) = "select(post)"
        class="list-group-item">
       <jce-post [post] = "post" 
       (deleteEvent) = "deletePost($event)"
       (editEvent) = "updatePost($event)"></jce-post>
       
        <ul>
          <li *ngFor = "let title of post.userName">
            {{(title | async)?.name}}
          </li>
        </ul>

    </li>
  </ul>
</div>



